<button (click)="goBack()">Volver a Inicio</button>
<div class="flight-form-container">
    <h2 class="title">REGISTRO DE VUELO</h2>
  
    <div class="form-section">
      <label>Fecha:</label>
      <input type="date" />
      <label>Mercancía:</label>
      <input type="text" />
      <label>Avión:</label>
      <input type="text" />
    </div>
  
    <div class="form-section">
      <label>De:</label>
      <input type="text" />
      <label>Hora:</label>
      <input type="time" />
      <label>A:</label>
      <input type="text" />
      <label>Hora:</label>
      <input type="time" />
    </div>
  
    <button class="add-button">+</button>
  
    <div class="form-section">
      <label>Horas Mes:</label>
      <input type="number" />
      <label>Horas Año:</label>
      <input type="number" />
      <label>Horas Totales:</label>
      <input type="number" />
    </div>
  
    <div class="form-section">
      <label>Anticipo:</label>
      <textarea></textarea>
      <label>Tripulación:</label>
      <button class="add-button">+</button>
    </div>
  
    <div class="form-section">
      <label>Líquido:</label>
      <input type="text" />
    </div>
  
    <div class="form-section">
      <label>Fuel:</label>
      <input type="text" />
      <label>Hotel:</label>
      <input type="text" />
    </div>
  
    <button class="submit-button">Guardar</button>
  </div>
  