<div class="container">
    <div class="user-panel">
      <!-- Perfil del usuario -->
      <div class="info">
        <div class="user-img"></div>
        <p class="user-name">Apellidos, Nombre</p>
        <p class="user-info">Rango:</p>
        <p class="user-info">Grupo Sanguíneo:</p>
        <p class="user-info">Antigüedad:</p>
        <p class="user-info">Horas totales de vuelo:</p>
      </div>
  
  
      <div class="nav-buttons">
        <button class="nav-button">LOGROS / MEDALLAS</button>
        <button class="nav-button" (click)="home()">REGISTRAR VUELO</button>
        <button class="nav-button">HISTORIAL DE VUELOS</button>
        <button class="nav-button">TUS DESTINOS</button>
      </div>
    </div>
  </div>